#!/usr/bin/make -f

DEB_PACKAGE_VERSION=2
DEB_VERSION_UPSTREAM=0.0.2
CURDIR ?= $(realpath $(dir $(firstword $(MAKEFILE_LIST)))/..)

USE_GIT_TARBALLS=y
ifeq "$(USE_GIT_TARBALLS)" "y"
GIT_BASEURL:=https://github.com/hcvcastro/
lo_sources_ver=v0.0.2
GIT_TAG=$(lo_sources_ver)
GIT_BRANCH=releases
endif

ifeq "$(USE_GIT_TARBALLS)" "y"

GIT_INSTALLED:=$(shell which git >/dev/null 2>/dev/null && echo "y")
WGET_INSTALLED:=$(shell which wget >/dev/null 2>/dev/null && echo "y")

get_orig_tarball=$(CURDIR)/../libre-impuestos_$(DEB_VERSION_UPSTREAM).orig.tar.gz

get_upstream_tarball=$(CURDIR)/libre-impuestos-$(1).tar.gz


define pack_gittarball
$(if $(GIT_INSTALLED),,$(error You need git.))
$(if $(WGET_INSTALLED),,$(error You need wget.))
dh_testdir
wget https://github.com/hcvcastro/libre-impuestos/archive/$(1).tar.gz
tar xvf $(1).tar.gz
mv  libre-impuestos-$(DEB_VERSION_UPSTREAM)/* .
rm -r libre-impuestos-$(DEB_VERSION_UPSTREAM)
endef

define unpack_gittarball
dh_testdir
mv $(1).tar.gz $(get_orig_tarball)
endef

$(call get_upstream_tarball,$(GIT_TAG)) :
	$(call pack_gittarball,$(GIT_TAG))

$(call get_orig_tarball,$(GIT_TAG)): $(call get_upstream_tarball,$(GIT_TAG))
	$(call unpack_gittarball,$(GIT_TAG))

fetch.log: $(call get_orig_tarball,$(GIT_TAG))
	touch fetch.log

unpack: fetch.log
	dh_testdir
endif


%:

	dh $@
